# Arquivos e diretórios do Git
.git
.gitignore

# Arquivos de build do Maven
target/
*.jar
*.war
*.ear

# Arquivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# README
README.md 